replicaCount: 2       # Number of desired pod replicas
minReadySeconds: 10   # Minimum number of seconds a pod should be ready before being considered available

containerPort: 3000   # Port on which the container listens.
image: "<needs to be set>" # using --set flags during helm install/upgrade

# Resource requests and limits for the container
resources:
  limits:
    cpu: 200m
    memory: 256Mi
  requests:
    cpu: 50m
    memory: 128Mi

# TODO: Refactor thies environment variable config
# Environment variables for the container
env:
  - name: PORT
    value: "3000"

  - name: COURSES_URL
    value: http://svc-courses-dev-svc-courses.rso.svc.cluster.local
  - name: NOTES_URL
    value: http://svc-notes-dev-svc-notes.rso.svc.cluster.local
  - name: USERS_URL
    value: http://svc-users-dev-svc-users.rso.svc.cluster.local
  - name: TRANSCRIPTIONS_URL
    value: http://svc-transcription-dev-svc-transcription.rso.svc.cluster.local
  - name: VIDEO_UPLOAD_URL
    value: http://svc-video-dev-svc-video.rso.svc.cluster.local

  - name: FORUM_URL
    value: https://forum-bingusi-funcapp-cncah8gyeshqeham.germanywestcentral-01.azurewebsites.net

  - name: FORUM_INTERNAL_TOKEN
    valueFrom:
      secretKeyRef:
        name: svc-gateway-secrets
        key: forum-internal-token

  - name: OIDC_ISSUER
    value: https://74.161.129.128.nip.io/keycloak/realms/rso

  - name: OIDC_JWKS_URI
    value: http://keycloak.keycloak.svc.cluster.local/keycloak/realms/rso/protocol/openid-connect/certs

  - name: OIDC_AUDIENCE
    value: rso-frontend

  - name: CORS_ORIGINS
    value: http://localhost:3003,http://74.161.129.128.nip.io,https://74.161.129.128.nip.io # TODO: when this is tested, should be set dynamically in deploy.sh or cicd


# Service configuration for exposing the application
service:
  type: ClusterIP
  port: 80

# Ingress configuration for external access
ingress:
  defaultHost: ""        # set via --set ingress.defaultHost=... in deploy.sh
  enabled: true
  className: nginx
  hosts:
    - host: ""           # template can default to ingress.defaultHost
      paths:
        - path: /api/
          pathType: Prefix
        - path: /metrics
          pathType: Prefix
        - path: /healthz
          pathType: Prefix
        - path: /readyz
          pathType: Prefix
        - path: /docs/gateway
          pathType: Prefix

  tls:
    enabled: true
    secretName: nip-tls

# Health check probes configuration
probes:
  liveness:
    enabled: true
    path: /healthz
    initialDelaySeconds: 10
    periodSeconds: 10
    timeoutSeconds: 2
    failureThreshold: 3

  readiness:
    enabled: true
    path: /readyz
    initialDelaySeconds: 20
    periodSeconds: 5
    timeoutSeconds: 6
    failureThreshold: 6

  startup:
    enabled: true
    path: /healthz
    periodSeconds: 2
    timeoutSeconds: 2
    failureThreshold: 30
